.title {
  height: 100vh;
  background: url('../../assets/logo.jpg') #dd2d20 52% 30% no-repeat;
  background-size: 100px;
  overflow: hidden;
  .btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 75vh;
  }
}

.phoneLogin {
  display: flex;
  padding: 10px;
  flex-direction: column;
  .loginTips {
    font-size: 20px;
  }
  .loginTips2 {
    margin-top: 3px;
    font-size: 16px;
  }
  .loginInput {
    width: 98%;
    margin: 1% 0 5% 1%;
    display: flex;
  }
}

.emailLogin {
  display: flex;
  padding: 10px;
  flex-direction: column;
  .loginTips {
    font-size: 20px;
  }
  .emailInput {
    width: 98%;
    margin: 1% 0 5% 1%;
    display: flex;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
  }
}
